[Unit]
Description=Simple Python webapp
After=network-online.target

[Service]
Type=simple
User=ec2-user
WorkingDirectory=/opt/simple_webapp
ExecStart=/bin/python3 -u /opt/simple_webapp/server.py
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=simple_webapp
KillMode=process

[Install]
WantedBy=multi-user.target
