[Unit]
Description=Simple Python webapp
After=network-online.target

[Service]
Type=simple
User=ec2-user
WorkingDirectory=/opt/simple-webapp
ExecStart=/bin/python3 -u /opt/simple-webapp/server.py
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=simple-webapp
KillMode=process

[Install]
WantedBy=multi-user.target
